html {height: 100%;}
body {
  height: 100%;

  #main-app{
    display: flex;
    flex-flow: column;
    min-height: 100%;
  }

  .header{
    flex: 0 1 auto;
  }

  .container{
    flex: 1 1 auto;
    padding-top: 50px;
    padding-bottom: 50px;
  }
}

.tab-content>.active {
  transition: 1s!important;
}

.statistic-box{
  height: 500px;
}

header{
  > h5.modal-title{
    color: white!important;
  }
}

input:hover, textarea:hover, select:hover{
  border: 1px solid #343a40!important;
  transition: 1s;
}
input[type="file"]{
  width: 100%;
  
  &:hover{
    border: 0!important;
    transition: unset;
  }
}

button{
  border: none;
  transition: 0.5s;

  &.btn-fab-right-bottom{
    display: block;
    position: fixed;
    width: 80px;
    height: 80px;
    bottom: 0;
    right: 0;
    border-radius: 50%;
    padding: 0;
    margin: 0px 30px 30px 0px;

    i{
      font-size: 30px;
    }
  }

  &.btn-blue-outfitted{
    background-color: #232127;
    color: white;

    &:focus, &:active{
      background-color: #232127;
      border: 0;
    }
  }
  
  &.btn-hover{
    border: 3px solid #ffffff00;
  
    &:hover{
      background-color: white!important;
      border: 3px solid #232127!important;
      color: #232127!important;
      transition: 0.3s!important;
    }
  }
}

label{
  margin-top: 0;
}

strong{
  font-weight: bold!important;
}

table{
  
  th,td{
    vertical-align: middle!important;
  }
  th{
    font-weight: bold;
  }
  td{
    input:hover{
      border: 1px solid #343a40!important;
      transition: 1s;
    }
  }
  button{
    &.btn-table{
      padding: 0.5rem 1.25rem;
    }
  }
}

.txt-center{
  text-align: center;
}
.bold{
  font-weight: bold;
}

.full-screen{
  width: 100%;
  height: 100%;
}

// TRANSITION ANIMATION
.fade-enter-active, .fade-leave-active {
  transition-property: opacity;
  transition-duration: .25s;
}

.fade-enter-active {
  transition-delay: .25s;
}

.fade-enter, .fade-leave-active {
  opacity: 0
}